In [1]:
import numpy as np
import pandas as pd

In [3]:
index = np.array(['a', 'b', 'c'])

user_data_s = {
    'id': pd.Series([123, 234, 345], index = index),
    'name': pd.Series(['Bob', 'Sue', 'Deam'], index = index),
    'age': pd.Series([30, 40, 50], index = index) 
}

user_data_df = pd.DataFrame(user_data_s)

In [9]:
user_data_df['id']
na = user_data_df[['name', 'age']]

# na['name'] = 'Ham'

In [12]:
a = user_data_df[['name', 'age']]
a.loc['a']

name    Bob
age      30
Name: a, dtype: object

In [15]:
a.iloc[0]
user_data_df.iloc[0:2]

    id name  age
a  123  Bob   30
b  234  Sue   40