In [1]:
import pandas as pd
import numpy as np

In [7]:
index = np.array(['a', 'b', 'c'])

user_data_s = {
    'id': pd.Series([123, 234, 345], index = index),
    'name': pd.Series(['Bob', 'Sue', 'Deam'], index = index),
    'age': pd.Series([30, 40, 50], index = index) 
}

user_data_df = pd.DataFrame(user_data_s)

In [16]:
a = user_data_df.iloc[0:2]
user_data_df['email'] = pd.Series(['Bob@gmail.com', 'Sue@gmail.com', ''], index = index)
user_data_df.at['a', 'name'] = 'Dan'
user_data_df.iat[0, 1] = 'Dan'
user_data_df

    id  name  age          email
a  123   Dan   30  Bob@gmail.com
b  234   Sue   40  Sue@gmail.com
c  345  Deam   50

In [21]:
user_data_df['has_email'] = pd.Series(user_data_df['email'] != '', index = index)
user_data_df

    id  name  age          email  has_email
a  123   Dan   30  Bob@gmail.com       True
b  234   Sue   40  Sue@gmail.com       True
c  345  Deam   50                     False

In [23]:
user_data_df.pop('id')
user_data_df

   name  age          email  has_email
a   Dan   30  Bob@gmail.com       True
b   Sue   40  Sue@gmail.com       True
c  Deam   50                     False