In [1]:
import numpy as np
import pandas as pd

In [9]:
index = np.array([0, 1, 2])
list_ecom = {
    'name': pd.Series(['Bob', 'Amir', 'Roman'], index = index),
    'price': pd.Series([10, 15, 34], index = index)
}

df_ecom = pd.DataFrame(list_ecom)

In [22]:
df_ecom["id"] = pd.Series([243, 18, 99], index = index)
id_del = df_ecom.pop("id")
# set_index?
df_ecom["sale_date"] = pd.Series(pd.date_range(start='2025-08-24', periods = 3, freq = 'D'), index = index)

df_ecom.sort_values('name')

    name  price  sale_date
1   Amir     15 2025-08-25
0    Bob     10 2025-08-24
2  Roman     34 2025-08-26