In [2]:
import pandas as pd
import numpy as np

In [3]:
user_data = {
    'id': {'a': 123, 'b': 234, 'c': 345},
    'name': {'a': 'Bob', 'b': 'Sue', 'c': 'Dean'},
    'age': {'a': 30, 'b': 40, 'c': 50}
}

pd.DataFrame(user_data)

    id  name  age
a  123   Bob   30
b  234   Sue   40
c  345  Dean   50

In [4]:
index = np.array(['a', 'b', 'c'])

user_data_s = {
    'id': pd.Series([123, 234, 345], index = index),
    'name': pd.Series(['Bob', 'Sue', 'Deam'], index = index),
    'age': pd.Series([30, 40, 50], index = index) 
}

pd.DataFrame(user_data_s)

    id  name  age
a  123   Bob   30
b  234   Sue   40
c  345  Deam   50