In [1]:
import numpy as np
import pandas as pd

In [25]:
arr = np.array([1, 2, 3, 4, 5])
arr2 = np.array([1, 2, 3, 4, 5, 6])

my_series = pd.Series(arr, index = ['a', 'b', 'c', 'd', 'e'])
my_series2 = pd.Series(arr2, index = ['a', 'b', 'c', 'd', 'e', 'e'])

my_series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
my_series.iloc[0:3]
my_series[['a', 'd']]

a    1
d    4
dtype: int64

In [13]:
my_series2['e']

e    5
e    6
dtype: int64

In [18]:
my_series2.iloc[0] = 450
my_series2['a'] = 450
my_series2['a':'c'] = 250

my_series2

a    250
b    250
c    250
d      4
e      5
e      6
dtype: int64

In [26]:
my_series + 10
my_series[my_series % 2 == 0]

b    2
d    4
dtype: int64

In [27]:
np.sum(my_series)

np.int64(15)